<div class="center">
	<mat-form-field>
		<mat-select #select1 multiple placeholder="Using Groups" [(value)]="selected">
			<mat-select-filter *ngIf="select1.focused" [placeholder]="'Filtro'" [array]="variablesGroups" hasGroup="true" groupArrayName="values"
			 displayMember="value" (filteredReturn)="groups=$event"></mat-select-filter>

			<mat-optgroup *ngFor="let group of groups" [label]="group.value">
				<mat-option *ngFor="let option of group.values" [value]="option.id" color="accent">
					{{ option.value }}
				</mat-option>
			</mat-optgroup>


		</mat-select>
	</mat-form-field>  
</div>

<div>
  {{ selected | json }}
</div>